<div>
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <div class="title-heading">Projects</div>
      <ul>
        <li *ngFor="let project of projects;">
          <div>
            <a href="{{project.link}}" target="_blank">
              {{project.projectTitle + ' - ' + project.year}}</a>
          </div>
          <div class="sub-heading">
            {{project.title}}
            <p>{{project.description}}<span class="badge badge-primary spacer" *ngFor="let lang of project.languages">{{lang}}</span>
            </p>
          </div>
          <div class="blog-divider">
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <div class="title-heading">Other/Open Source</div>
        <ul>
          <li *ngFor="let otherProject of otherProjects;">
            <div>
              <a href="{{otherProject.link}}" target="_blank">
                {{otherProject.projectTitle + ' - ' + otherProject.year}}</a>
            </div>
            <div class="sub-heading">
              {{otherProject.title}}
              <p>{{otherProject.description}}<span class="badge badge-primary spacer" *ngFor="let lang of otherProject.languages">{{lang}}</span>
              </p>
            </div>
            <div class="blog-divider">
            </div>
          </li>
        </ul>
      </div>
    </div>